
body{
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
    
}
h1{
width: 30%;
margin: 10px auto;
font-family: 'Sacramento', cursive;
font-size: 50px;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
.top-container{
    padding-top: 100px;
    background-color: #E4F9F5;
 position: relative;
}
.top-cloud{
    
    position:absolute;
    right: 200px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.coding{border-radius: 50%;

}
.team{
    border-radius: 50%;
}


